:root {
    --dark-bg: rgb(38, 46, 54); 
    --light-bg: #303841;;
    --highlight: #f6c90e;
    --text: #eeeeee;
    --text-dark: #a0a0a0;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-bg);
    color: var(--text);
}

h1 {
    font-family: 'Sen', sans-serif;
    font-size: 3em;
    padding: 1.5em 0;
    margin: 0;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

.news {
    width: 70%;
    margin: auto;
}

.newsItem {
    margin-bottom: 2em;
    border: 1px solid var(--text-dark);
    padding: 1em 3em 3em 3em;
}

.newsItem img {
    max-width: 100%;
}

.date {
    font-size: 0.8em;
    color: var(--highlight);
    margin-bottom: 1em;
}

.content {
    text-align: left;
    margin-bottom: 3em;
}

.url {
    padding: 1em 3em;
    text-decoration: none;
    border: 1px solid var(--text);
    transition: 0.3s all;
}

.url:hover {
    background-color: var(--text);
    color: var(--light-bg);
    border: 1px solid var(--text);
}

#totalCases {
    border: 1px solid var(--text-dark);
    margin-bottom: 2em;
    padding-bottom: 2em;
}

#totalCases, #casesByCountry {
    font-size: 1.2em;
}

#casesByCountry {
    border: 1px solid var(--text-dark);
    margin-bottom: 2em;
    padding: 0 3em 3em 3em;
}

#casesByCountry div {
    padding: 5px 0;
}

#casesByCountry > div {
    display: flex;
    border-bottom: 1px solid var(--text-dark);
}

#casesByCountry > div div {
    width: 14.28%;
}

#casesByCountry:hover {
    cursor: pointer;
}

#casesByCountry .topRow {
    background-color: var(--dark-bg);
    border: none;
}

.ct-legend {      
    position: relative;
    z-index: 10;
    list-style: none;
    text-align: center;
    top: -5em;
}

.ct-legend li {
    position: relative;
    padding-left: 23px;
    margin-right: 10px;
    margin-bottom: 3px;
    cursor: pointer;
    display: inline-block;
}

.ct-legend li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
}

.ct-legend li:nth-child(1)::before{
    background-color: #d62a2d;
}

.ct-chart .ct-series-a .ct-line, .ct-chart .ct-series-a .ct-point {
    stroke: #d62a2d;
}

.ct-legend li:nth-child(2)::before{
    background-color: #f05b4f;
}

.ct-legend li:nth-child(3)::before{
    background-color: #f4c63d;
}

.ct-legend li:nth-child(4)::before{
    background-color: #d17905;
}

.ct-legend li:nth-child(5)::before{
    background-color: #453d3f;
}

.ct-legend li:nth-child(6)::before{
    background-color: #59922b;
}

.ct-legend li:nth-child(7)::before{
    background-color: #0544d3;
}

.ct-legend li:nth-child(8)::before{
    background-color: #6b0392;
}

.ct-legend li:nth-child(9)::before{
    background-color: #f05b4f;
}

.ct-legend li:nth-child(10)::before{
    background-color: #dda458;
}

.ct-legend li:nth-child(11)::before{
    background-color: #eacf7d;
}

.ct-legend li:nth-child(12)::before{
    background-color: #86797d;
}

.ct-legend li:nth-child(13)::before{
    background-color: #b2c326;
}

.ct-legend li:nth-child(14)::before{
    background-color: #6188e2;
}

.ct-legend li:nth-child(15)::before{
    background-color: #a748ca;
}

.ct-legend li.inactive:before {
    box-shadow: 0px 0px 0px 1px var(--text);
    background-color: transparent;
}

#legend {
    margin-bottom: 7em;
    padding: 1em;
}

#legend.removeMarginBottom {
    margin-bottom: 2.5em;
}

svg.ct-chart-bar, svg.ct-chart-line{
    overflow: visible;
}

.ct-label.ct-label.ct-horizontal.ct-end {
    position: relative;
    justify-content: flex-end;
    text-align: right;
    transform-origin: 100% 0;
    transform: translate(-100%) rotate(-45deg);
    white-space:nowrap;
}

.ct-chart {
    margin-bottom: 3em;
}

.data {
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.data:hover {
    background-color: var(--dark-bg);
    color: rgb(231, 231, 231);
}

.data.selected {
    background-color: var(--dark-bg);
    color: var(--highlight);
}

#drawButton {
    border: 1px solid var(--highlight);
    color: var(--text);
    cursor: pointer;

    font-size: 1.25em;
    padding: 0.5em 1.25em;

    transition: all 0.2s ease-in;
    max-width: 250px;
    margin: auto;
    margin-bottom: 1em;
}

#dataTypes {
    margin-bottom: 2em;
}

#drawButton:hover{
    background-color: var(--highlight);
    color: var(--dark-bg);
}

#filter {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--dark-bg);
}

#filter > div {
    width: 50%;
    justify-content: center;
}

#filter.hide {
    bottom: -280px;   
}

#filter.show {
    animation: show 0.3s ease-in;
    -moz-animation: show 0.3s ease-in; /* Firefox */
    -webkit-animation: show 0.3s ease-in; /* Safari and Chrome */
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.4);
}

.news .ct-chart.hideChart, .hideLegend {
    display: none;
}

@keyframes show {
    from { bottom: -280px; } 
    to{ bottom: 0; } 
}
@-moz-keyframes show {
    from { bottom: -280px; } 
    to{ bottom: 0; } 
}
@-webkit-keyframes show {
    from { bottom: -280px; } 
    to{ bottom: 0; }  
}

#casesByCountry #instructions {
    margin-bottom: 2em;
    border: none;
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 70px;
    width: 100%;
    background: var(--dark-bg);
    color: var(--text);
    margin-bottom: 1em;
    font-size: 1.1em;
}

.navbar .active a {
    color: var(--highlight);
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 60%;
    margin: auto;
}
  
@supports not (-ms-ime-align: auto) {
    .navbar-nav {
        justify-content: space-evenly;
        width: 100%;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    transition: all 0.4s;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--highlight);
}

foreignObject .ct-label {
    color: var(--text-dark);
}

g.ct-grids line.ct-grid {
    stroke: var(--text-dark);
}

#footer {
    margin-bottom: 1em;
}

.description a, #footer a {
    text-decoration: underline;
}

.description a:hover, #footer a:hover {
    color: var(--highlight);
}

#menuButton {
    display: none;
}

@media only screen and (max-device-width: 426px) {
    h1 {
        font-size: 2em;
    }

    #menu {
        height: 60px;
        transition: all 0.2s;
    }

    #menu.showMenuOptions {
        height: 200px;
    }

    #menu.showMenuOptions #menuButton {
        padding: 0.4em 0;
        margin-top: -1px;
    }

    .navbar-nav {
        flex-wrap: wrap;
        display: none;
    }

    #menu.showMenuOptions .navbar-nav {
        display: flex;
    }

    .nav-item {
        margin: 0 1.5em;
        width: 100%;
    }

    #menuButton {
        display: block;
        margin: 0;
        padding: 1em 0;
        background-color: var(--dark-bg);
    }

    #legend, #totalCases {
        position: relative;
        z-index: -1;
    }

    h2 {
        font-size: 1.5em;
    }

    #totalCases, #casesByCountry {
        font-size: 1em;
    }

    .news {
        width: 100%;
    }

    #casesByCountry {
        padding: 0;
    }

    .topRow, .data {
        font-size: 0.6em;
    }

    #casesByCountry div {
        padding: 5px 2px;
        margin: auto;
        overflow-wrap: break-word;
    }

    h3 {
        font-size: 1em;
    }

    #filter > div {
        width: 50%;
    }

    #filter span {
        display: block;
        text-align: left;
        width: 60%;
        margin: auto;
    }
    
    #drawButton {
        margin-top: 1em;
    }

    #legend {
        margin-bottom: 9em;
    }

    #chart .ct-legend {
        font-size: 0.7em;
        top: -11em;
    }
}

@media only screen and (max-device-width: 1024px) {
    .news {
        width: 100%;
    }

    #casesByCountry div {
        padding: 5px 2px;
        margin: auto;
        overflow-wrap: break-word;
    }

    .topRow, .data {
        font-size: 0.9em;
    }
}